.div{
    background-color: gray;
    color: aliceblue;
    padding-top: 60px;
    height: 500px;
    width: 300px;
    position: fixed;
   left: -165px;
   transition-duration: 2500ms;
transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
transition-property: background-color, color, left;

}
.div:hover{
    left: 0;
}
.title{
    /* font-size: 50px; */
    text-align: center;
    font-style: italic;
    transform: rotate(90deg);
    padding-left: 60px;
    position: absolute;
}
.list{
display: flex;
flex-direction: column;
gap: 20px;
padding-left: 30px;
}
a{
    color: aliceblue;
}

.link::before {
content:"" ;
width: 20px; 
height: 20px; 
background-color: gold ; 
display: inline-flex;
margin-right: 20px;
transform: rotate(45deg);
}
h1{
    position: relative;
    right: 0;
    left: 150px;
    top: 150px;
}